@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
    --fonte-principal: 'Montserrat';
    --cor-fonte-gradiente: linear-gradient(105deg, #E50071 25.31%, #AD33FF 102.29%);
}

* {
    margin: 0;
    padding: 0;
}

.fundo-cabecalho {
    background-image: url("./assets/img/Agradecimento.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 925px;

}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.texto {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 170px;
}

.texto__obrigado {
    background: var(--cor-fonte-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--fonte-principal);
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
}

.texto__inscrever {
    text-align: center;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.05px;
    color: #E50071;
}

.texto__whats {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.button-link {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18.288px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    height: 55px;
    padding: 13px 44px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--Degrade-2, linear-gradient(110deg, #E50071 21.12%, #7404BF 74.66%));
    border-color: transparent;
}

.medias-socias {
    margin-top: 24px;
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {

    .fundo-cabecalho {
   background-image: url();
    }

    .texto__obrigado {
        font-size: 23.86px;
    }

    .texto__inscrever {
        font-size: 25.522px;
        margin-top: -20px;
    }

    .texto__whats {
        font-size: 8.877px;
        width: 217px;
    }

    .button-link {
        display: inline-flex;
        height: 40.166px;
        padding: 9.494px 32.133px;
        justify-content: center;
        align-items: center;
        gap: 7.303px;
        flex-shrink: 0;
        font-size: 13.355px;
    }

    .medias-socias{
        gap: 30px;
        margin-top: 36px;
    }

}