@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.background-headline {
    min-height: 800px;
    background-image: url(./assets/img/background-headline.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: Arial, sans-serif;
}

nav {

    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.menu {
    display: flex;
    margin: 24px;

}

.menu img {
    max-width: calc(33.33% - 4px);
    /* 33.33% for each image with 2px margin */
    height: auto;
    margin-right: 10px;
    /* 2px margin between images */

}

.footer-color {
    background: var(--pcv-black, #101010);
    padding: 50px;
}



.date {
    font-family: Montserrat;
    font-size: 22.468px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(285deg, #E50071 31.62%, #7404BF 97.49%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.conect {


    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 46.597px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.event {
    margin-top: 12px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 23.984px */

}

.event-two {
    display: none;

}

.sign-up {
    margin-top: 31px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18.288px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 13px 44px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border-color: transparent;
    background: var(--Degrade-2, linear-gradient(110deg, #E50071 21.12%, #7404BF 74.66%));
}

.text {
    margin-top: 64px;
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;



}

.btn-column {
    display: flex;

}


.rectangle {
    top: 0;
    position: absolute;
    right: 0;



    flex-shrink: 0;

}

.rectangle-grey {
    display: none;
}


.couple {
    position: absolute;
    right: 0;
    top: 0;



}


.save {
    padding: 25px;
    display: flex;
    flex-direction: column;
    top: 499px;
    right: 0;
    position: absolute;
    width: 283px;
    height: 151px;
    flex-shrink: 0;
    border-radius: 25px 0px 0px 0px;
    border: 1px solid #394747;
    background: linear-gradient(104deg, rgba(1, 66, 64, 0.15) 11.92%, rgba(10, 217, 210, 0.00) 77.41%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(25px);
}


.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.content-left {
    width: 50%;

}

.content-right {
    width: 50%;


}


.content-pt-2 {
    display: none;
}

.content-left-pt-2 {
    display: none;

}

.content-right-pt-2 {
    display: none;

}

.couple-pt-2 {
    display: none;
}

.headline {
    position: relative;
}


.modal-body {
    background-color: #141414;
    border-radius: 30px;
    padding: 0;
}

.modal-content {
    background-color: transparent
}


.save-two {
    display: none;
}

.fade-1 {
    display: none;
}

.fade-2 {
    display: none;
}

.medias-socias.mobile {
    display: none;
}



.h4-container {
    display: none;

}

.text-footer {
    display: none;
}


.contact-content .contact-form h3 {
    margin: 50px 0 37px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.66px;
}

.contact-content .contact-form .form-group {
    padding: 5px 0px;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

.contact-form .form-group::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: var(--Degrade-2, linear-gradient(110deg, #E50071 21.12%, #7404BF 74.66%));
    border-radius: 5px;
}

.contact-form .form-group img {
    margin: 0 15px 5px 15px;
}

.contact-form .form-group input {
    width: 80%;
    color: #fff;
    background: transparent;
    border: none;
}

.contact-form .form-group input::placeholder {
    color: #C6C6C6;
    font-size: 15px;
    letter-spacing: 0.45px;
}

.contact-form .form-group input:focus-visible {
    outline: none;
}

.contact-content .contact-form button {
    margin-top: 40px;
    padding: 9px;
    width: 100%;
    border-radius: 40px;
    border-radius: 30px;
    background: var(--Degrade-2, linear-gradient(110deg, #E50071 21.12%, #7404BF 74.66%));
    color: #141414;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.45px;
    border-color: transparent;
}



footer p {
    margin-top: 21px;
    color: #E9E9E9;
    font-family: 'Barlow';
    font-size: 16.007px;
    font-weight: 500;
}

footer h4 {
    margin-bottom: 18px;
    font-family: 'Barlow';
    font-size: 22.41px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--Degrade-2, linear-gradient(110deg, #E50071 21.12%, #7404BF 74.66%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer ul {
    list-style: none;
    padding-left: 0px;
}

footer h5 {
    margin-bottom: 7px;
    color: #E9E9E9;
    font-family: 'Barlow';
    font-size: 17.608px;
    font-weight: 700;
}

footer ul li {
    margin-bottom: 13px;
    color: #E9E9E9;
    font-family: 'Barlow';
    font-weight: 500;
}

footer ul li a {
    color: #E9E9E9;
    font-family: 'Barlow';
    font-weight: 500;
    text-decoration: none;
}

footer .display-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

display-item {
    word-break: break-word;
}

.text-footer {
    color: var(--Branco, #E9E9E9);
    font-family: 'Barlow';
    font-size: 16.007px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.medias-socias {
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

.last-phrase {
    margin-top: 116px;
    border-top: 1px solid #E9E9E9;
    display: flex;
    justify-content: center;
}

.last-phrase span {
    text-align: center;
    color: var(--Branco, #E9E9E9);
    font-family: 'Barlow';
    font-size: 16.007px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px 0 36px;
}

.save-date {
    color: #D3D3D3;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.november {
    margin-bottom: 7px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.line {
    width: 219.082px;
    height: 0.6px;
    background: #868686;
    filter: blur(0.5px);
}

.years {
    margin-top: 7px;
    width: 232px;
    color: #D3D3D3;
    font-family: Montserrat;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.modal-couple {
    background-image: url(./assets/img/couple-modal.png);
    width: 100%;
    height: 262px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
}

.contact-form form {
    padding: 25px;
    margin-top: -117px;
}

.btn:hover {
    border-color: transparent;
}


@media (max-width: 767px) {
    .footer-color>* {
        padding: 0;
    }

    .footer-color {
        background: rgb(8 8 29 / 96%);
        padding: 0 75px;
    }

    .content-left {

        display: flex;
        flex-direction: column;

    }

    .headline .row>* {
        padding-left: 0px;
        padding-right: 0px;
    }


    .content-pt-2 {
        width: 86%;

        bottom: 63px;
        position: relative;
        display: flex;
        border-radius: 15px;
        border: 0.714px solid var(--Degrade-1, #1777EE);
        background: linear-gradient(104deg, rgba(1, 66, 64, 0.15) 11.92%, rgba(217, 10, 196, 0.00) 86.65%);
        box-shadow: 0px 2.85512px 17.13074px -0.71378px rgba(0, 0, 0, 0.20);
        backdrop-filter: blur(17.844524383544922px);
    }

    .content-left-pt-2 {
        width: 50%;
        display: block;
    }

    .content-right-pt-2 {
        width: 50%;
        padding: 9px;
        display: flex;
        flex-direction: column;


    }

    .logo-a {
        display: none;
    }

    .couple-pt-2 {
        bottom: 0;
        position: absolute;
        height: 175px;
        display: block;
    }


    .content-right {
        position: relative;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        background: #141414;
        height: 385px;


    }

    .fade-1 {
        top: 150px;
        position: absolute;
        display: block;
        width: 348px;
        height: 348px;
        flex-shrink: 0;
        border-radius: 348px;
        opacity: 0.2;
        background: radial-gradient(116.66% 58.76% at 50% 41.24%, #E50071 4.41%, rgba(229, 0, 113, 0.00) 100%);
        filter: blur(50px);
    }

    .fade-2 {
        left: 0;
        top: -206px;
        display: block;
        position: absolute;
        width: 348px;
        height: 348px;
        flex-shrink: 0;
        border-radius: 348px;
        opacity: 0.4;
        background: radial-gradient(50% 50% at 50% 50%, #E50071 0%, rgba(229, 0, 113, 0.00) 100%);
        filter: blur(50px);
    }

    .medias-socias.mobile {
        display: flex;
        margin-bottom: 25px;

    }

    .medias-socias.desktop {
        display: none;
    }

    .believe {
        display: none;
    }

    .h4-container {
        display: flex;
    }

    .text-footer {
        flex: 1;
        margin: 10px;
        /* Adicione margem para espaçamento entre os elementos */
        display: block;
        background: var(--Degrade-1, linear-gradient(90deg, #1777EE 0.33%, #1BEEE7 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .te {
        display: none;
    }


    .save-date-2 {
        padding-top: 20px;
        font-size: 10.707px;
        color: #D3D3D3;
        font-family: Montserrat;

        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .november-2 {
        font-size: 15.703px;
        margin-bottom: 7px;
        color: #FFF;
        font-family: Montserrat;

        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .line-2 {
        padding-top: 1px;
        ;
        width: 156.377px;
        height: 0.428px;
        background: #868686;
        filter: blur(0.356890469789505px);
    }

    .years-2 {
        padding: 6px 0px 0px;
        color: #D3D3D3;
        font-family: Montserrat;
        font-size: 10.707px;
        font-style: italic;
        font-weight: 500;
        line-height: normal;

    }

    .mobile {
        gap: 30px;
    }

    .rectangle-grey {
        display: flex;
        height: 100px;
        background-color: #141414;

        flex-shrink: 0;
    }

    .background-headline {
        background-image: url(./assets/img/img_bg\ 2\ \(2\).png);
    }

    .date {
        margin-top: 43px;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        background: var(--Degrade-2, linear-gradient(110deg, #E50071 21.12%, #7404BF 74.66%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .conect {
        margin-bottom: 20px;
        text-align: center;
        max-width: 100%;
        font-size: 28.902px;

    }

    .event {

        text-align: center;
        max-width: 100%;
        font-size: 11.902px;
        margin-top: 9px;
        margin-bottom: 0;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;

        font-style: normal;
        font-weight: 400;
        line-height: 149.9%;
        /* 14.99px */
    }

    .event-two {
        margin: 86px 0px 126px;
        margin-top: 86px;
        display: block;
        width: 91%;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 15.425px;
        font-style: italic;
        font-weight: 400;
        line-height: 149.9%;
        /* 23.122px */
    }

    .sign-up {
        margin-top: 38px;
        max-width: 226px;
        font-size: 18.288px;

    }

    .text {
        align-items: center;
        justify-content: center;
        flex: 1;

        padding: 0 20px;
        font-size: 25.539px;

        max-width: 100%;
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .modal-content {
        background-color: #fff;
        margin: 20% auto;
        padding: 20px;
        width: 80%;
        text-align: center;
        position: relative;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
    }

    .rectangle {

        display: none;

    }

    .couple {
        display: none;
    }

    .save {
        display: none;
    }

    .menu img {

        max-width: 100%;
        margin-right: 10px;


    }

    .menu {
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-top: 50px;



    }




}


