@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.background-headline {
    min-height: 800px;
    background-image: url(./assets/img/background-headline.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: Arial, sans-serif;
}

nav {

    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.menu {
    display: flex;
    margin: 20px;

}

.menu img {
    max-width: calc(33.33% - 4px);
    /* 33.33% for each image with 2px margin */
    height: auto;
    margin-right: 10px;
    /* 2px margin between images */

}

.footer-color {
    background: var(--pcv-black, #101010);
    padding: 50px;
}

@media (max-width: 768px) {


    .couple {
        display: none;
    }



}



.date {
    font-family: Montserrat;
    font-size: 22.468px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(285deg, #E50071 31.62%, #7404BF 97.49%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.conect {


    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 46.597px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.event {
    margin-top: 12px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 23.984px */

}

.event-two {
    display: none;

}

.sign-up {
    margin-top: 19px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18.288px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 13px 44px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border-color: transparent;
    background: var(--Degrade-2, linear-gradient(110deg, #E50071 21.12%, #7404BF 74.66%));
}

.text {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;


}



.rectangle {
    top: 0;
    position: absolute;
    right: 0;

    width: 691px;

    flex-shrink: 0;

}

.rectangle-grey {
    display: none;
}


@media (max-width: 768px) {

    .rectangle-grey {
        display: flex;
        height: 100px;
        background-color: #141414;

        flex-shrink: 0;
    }

    .background-headline {
        background-image: url(./assets/img/img_bg\ 2\ \(2\).png);
    }

    .date {
        margin-top: 43px;
        ;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        background: var(--Degrade-2, linear-gradient(110deg, #E50071 21.12%, #7404BF 74.66%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .conect {
        margin-bottom: 20px;
        text-align: center;
        max-width: 100%;
        font-size: 28.902px;

    }

    .pink {
        background: var(--Degrade-2, linear-gradient(110deg, #E50071 21.12%, #7404BF 74.66%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .orange {
        color: var(--amarelo-programar, #ED6D1D);
        font-family: Montserrat;
        font-size: 25.539px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .event {

        text-align: center;
        max-width: 100%;
        font-size: 11.902px;
        margin-top: 9px;

        color: #FFF;
        text-align: center;
        font-family: Montserrat;

        font-style: normal;
        font-weight: 400;
        line-height: 149.9%;
        /* 14.99px */
    }

    .event-two {
        margin: 86px 0px 126px;
        margin-top: 86px;
        display: block;
        width: 91%;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 15.425px;
        font-style: italic;
        font-weight: 400;
        line-height: 149.9%;
        /* 23.122px */
    }

    .sign-up {
        margin-top: 38px;
        max-width: 226px;
        font-size: 18.288px;

    }

    .text {
        align-items: center;
        justify-content: center;
        flex: 1;

        padding: 0 20px;
        font-size: 25.539px;

        max-width: 100%;
    }


}



.couple {
    position: absolute;
    right: 0;
    top: 0;



}


.save {
    padding: 25px;
    display: flex;
    flex-direction: column;
    top: 499px;
    right: 0;
    position: absolute;
    width: 283px;
    height: 151px;
    flex-shrink: 0;
    border-radius: 25px 0px 0px 0px;
    border: 1px solid #394747;
    background: linear-gradient(104deg, rgba(1, 66, 64, 0.15) 11.92%, rgba(10, 217, 210, 0.00) 77.41%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(25px);
}





/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .modal-content {
        background-color: #fff;
        margin: 20% auto;
        padding: 20px;
        width: 80%;
        text-align: center;
        position: relative;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
    }

    .rectangle {

        display: none;

    }

    .couple {
        display: none;
    }

    .save {
        display: none;
    }

    .menu img {

        max-width: 100%;
        margin-right: 10px;


    }

    .menu {
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-top: 50px;



    }

}





.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.content-left {
    width: 50%;

}

.content-right {
    width: 50%;

}


.content-pt-2 {
    display: none;
}

.content-left-pt-2 {
    display: none;

}

.content-right-pt-2 {
    display: none;

}

.couple-pt-2 {
    display: none;
}

.headline {
    position: relative;
}


.modal-body {
    background-color: #141414;
    border-radius: 30px;
    padding: 0;
}

.modal-content {
    background-color: transparent
}


.save-two {
    display: none;
}

.fade-1 {
    display: none;
}

.fade-2 {
    display: none;
}

.medias-socias.mobile {
    display: none;
}

@media (max-width: 992px) {
    .content {
        flex-direction: column;

    }

    .content-left {
        width: 100%;
    }
}

.h4-container {
    display: none;

}

.text-footer {
    display: none;
}




@media (max-width: 767px) {
    .footer-color >*{
        padding: 0;
    }
    
    .footer-color {
        background:rgb(8 8 29 / 96%);
        
    
       
     
        padding: 0 75px;
    }

    .content-left {

        display: flex;
        flex-direction: column;

    }

    .headline .row>* {
        padding-left: 0px;
        padding-right: 0px;
    }


    .content-pt-2 {
        width: 86%;

        bottom: 63px;
        position: relative;
        display: flex;
        border-radius: 15px;
        border: 0.714px solid var(--Degrade-1, #1777EE);
        background: linear-gradient(104deg, rgba(1, 66, 64, 0.15) 11.92%, rgba(217, 10, 196, 0.00) 86.65%);
        box-shadow: 0px 2.85512px 17.13074px -0.71378px rgba(0, 0, 0, 0.20);
        backdrop-filter: blur(17.844524383544922px);
    }

    .content-left-pt-2 {
        width: 50%;
        display: block;
    }

    .content-right-pt-2 {
        width: 50%;
        padding: 9px;
        display: flex;
        flex-direction: column;


    }

    .logo-a{
        display: none;
    }
    .couple-pt-2 {
        bottom: 0;
        position: absolute;
        height: 175px;
        display: block;
    }


    .content-right {
        position: relative;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        background: #141414;
        height: 385px;


    }

    .fade-1 {
        top: 150px;
        position: absolute;
        display: block;
        width: 348px;
        height: 348px;
        flex-shrink: 0;
        border-radius: 348px;
        opacity: 0.2;
        background: radial-gradient(116.66% 58.76% at 50% 41.24%, #E50071 4.41%, rgba(229, 0, 113, 0.00) 100%);
        filter: blur(50px);
    }

    .fade-2 {
        left: 0;
        top: -206px;
        display: block;
        position: absolute;
        width: 348px;
        height: 348px;
        flex-shrink: 0;
        border-radius: 348px;
        opacity: 0.4;
        background: radial-gradient(50% 50% at 50% 50%, #E50071 0%, rgba(229, 0, 113, 0.00) 100%);
        filter: blur(50px);
    }

    .medias-socias.mobile {
        display: flex;
        margin-bottom: 25px;

    }

    .medias-socias.desktop {
        display: none;
    }

    .elastic-code {}


    .sinal-mais {}

    .prrograma-a {}

    .believe {
        display: none;
    }

    .h4-container {
        display: flex;
        justify-content: center;
    }

    .text-footer {
        flex: 1;
        margin: 10px;
        /* Adicione margem para espaçamento entre os elementos */
        display: block;
        background: var(--Degrade-1, linear-gradient(90deg, #1777EE 0.33%, #1BEEE7 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .te {
        display: none;
    }


    .save-date-2 {
        padding-top: 20px;
        font-size: 10.707px;
        color: #D3D3D3;
        font-family: Montserrat;

        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .november-2 {
        font-size: 15.703px;
        margin-bottom: 7px;
        color: #FFF;
        font-family: Montserrat;

        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .line-2 {
        padding-top: 1px;
        
        width: 90%;
        height: 0.428px;
        background: #868686;
        filter: blur(0.356890469789505px);
    }

    .years-2 {
        padding: 6px 0px 0px;
        color: #D3D3D3;
        font-family: Montserrat;
        font-size: 10.707px;
        font-style: italic;
        font-weight: 500;
        line-height: normal;

    }

    .mobile {
        gap: 30px;
    }



}

























.navbar-nav .nav-link {
    color: #FBFBFB;
    font-size: 15px;
    font-weight: 700;
    transition: 0.8s;
}

.navbar-nav .nav-link:hover {
    background: radial-gradient(1062.23% 193.30% at -32.91% 150.89%, #0C72EB 0%, #0AD9D2 44.37%, #0C72EB 95.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    padding: 0;
    background-color: transparent;
}

.navbar-toggler-icon {
    width: 2em;
    height: 2em;
    background-image: url(./assets/menu-hamburguer.png);
}

section#headline .headline-content {
    margin-top: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline-content h1 {
    max-width: 700px;
    text-align: center;
    color: #FFF;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.headline-content span {
    width: 50%;
    text-align: center;
    color: #D4D4D4;
    font-size: 17px;
    font-weight: 500;
    line-height: 173.4%;
    letter-spacing: 0.51px;
}

.headline-content button {
    margin-top: 13px;
    width: 275px;
    height: 51.916px;
    border-radius: 100px;
    color: #141414;
    font-size: 15px;
    font-weight: 600;
    background: radial-gradient(1062.23% 193.30% at -32.91% 150.89%, #0C72EB 0%, #0AD9D2 44.37%, #0C72EB 95.99%);
    transition: 0.5s;
}

.headline-content button:hover {
    background: radial-gradient(1062.23% 193.30% at -32.91% 150.89%, #0C72EB 0%, #0AD9D2 100%, #0C72EB 0%);
}

section#numbers .numbers-content {
    margin: 50px;
    padding: 26px 0;
    border-radius: 20px;
    background: linear-gradient(91deg, rgba(1, 66, 64, 0.15) 0%, rgba(10, 217, 210, 0.00) 87.64%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.numbers-content .numbers-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.numbers-content .numbers-item img {
    margin-right: 10px;
}

.numbers-content .numbers-item span {
    margin-right: 10px;
    color: #FFF;
    font-size: 41.667px;
    font-weight: 700;
    line-height: 41px;
}

.numbers-content .numbers-item p {
    color: #B1B1B1;
    font-size: 12.5px;
    font-weight: 500;
}

section#performance {
    margin: 100px 0 150px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title span {
    text-align: center;
    color: #D4D4D4;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.96px;
    text-transform: uppercase;
}

.title h2 {
    width: 60%;
    text-align: center;
    font-size: 42.515px;
    font-weight: 700;
    letter-spacing: 1.275px;
}

.title p {
    width: 50%;
    color: #D4D4D4;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 172.4%;
    /* 24.136px */
    letter-spacing: 0.77px;
}

#performance .performance-content {
    margin-top: 50px;
    display: flex;
}

.performance-content .performance-item {
    width: 50%;
    min-height: 680px;
}

.performance-item.first-item {
    border-radius: 15px;
    z-index: 2;
    margin-right: -10px;
    background: #141414;
}

.performance-item.second-item {
    border-radius: 0px 15px 15px 0px;
    z-index: 1;
    background: radial-gradient(1062.23% 193.30% at -32.91% 150.89%, #0C72EB 0%, #0AD9D2 44.37%, #0C72EB 95.99%);
}

.performance-item .item-image {
    height: 50%
}

.performance-item.first-item .item-image img {
    border-radius: 15px 0 0 0;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
    mask-image: linear-gradient(to top, transparent 5%, black 100%);
}

.performance-item.second-item .item-image img {
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 60%);
    mask-image: linear-gradient(to top, transparent 5%, black 60%);
}

.performance-item .item-text {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.performance-item .item-text h3 {
    margin-bottom: 34px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.performance-item .item-text p {
    margin-bottom: 35px;
    width: 90%;
    min-height: 130px;
    color: #9A9A9A;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 173.4%;
    /* 26.01px */
    letter-spacing: 0.45px;
}

.performance-item.second-item h3 {
    color: #141414;
}

.performance-item.second-item p {
    color: #34564E;
}

.highlight-line {
    padding: 34.5px 0;
    background: var(--gradient-azul, radial-gradient(1062.23% 193.30% at -32.91% 150.89%, #0C72EB 0%, #0AD9D2 44.37%, #0C72EB 95.99%));
}

.highlight-line-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlight-line-content .flex-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.highlight-line-content .btn-secondary {
    margin-left: auto;
}

.highlight-line-content .flex-container span {
    text-align: center;
    color: #222;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.9px;
}

section#our-clients {
    margin: 150px 0;
}

.our-clients-content {
    height: 100%;
    background-image: url(./assets/fundo_cliente.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15.102px;
    box-shadow: 0px 3.0204081535339355px 18.122447967529297px -0.7551020383834839px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(11.326530456542969px);
}

.our-clients-content h2 {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 31.714px;
    font-weight: 700;
    letter-spacing: 0.951px;
}

.our-clients-content .clients {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 28px;
    align-items: center;
    flex-wrap: wrap;
}

section#our-story {
    background-image: url(./assets/ondas.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section#our-story .title {
    margin-left: 15px;
    width: 86%;
    align-items: flex-start;
}

#our-story .title h2,
#our-story .title p {
    text-align: start;
}

#our-story .row>* {
    padding: 0;
}

#our-story .timeline .img-timeline {
    margin-bottom: -38px;
}

#our-story .timeline button {
    position: absolute;
    bottom: 100px;
    right: 200px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.935px;
}

#our-story .timeline button img {
    margin-right: 10px;
}

#solutions {
    margin: 165px 0 150px;
}

#solutions .solutions-content {
    margin: 65px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.solutions-content .solutions-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
}

.solutions-display .card-solution {
    border: 1px solid #0ab3d9;
    padding: 13px 26px;
    max-width: 350px;
    height: 270px;
}

.solutions-display .card-solution span {
    border-bottom: 1px solid #0ab3d9;
    font-size: 35.023px;
    font-weight: 400;
    letter-spacing: 1.051px;
}

.solutions-display .card-solution h3 {
    margin: 24px 0 20px;
    color: #2FDBD5;
    font-size: 26.267px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.788px;
}

.solutions-display .card-solution p {
    color: #D4D4D4;
    font-size: 12.258px;
    font-style: normal;
    font-weight: 400;
    line-height: 153.4%;
    /* 18.804px */
    letter-spacing: 0.674px;
}


#solutions .display-button {
    display: flex;
    justify-content: center;
}

.card-detail {
    position: relative;
    overflow: hidden;
}

.card-solution.card-1::before,
.card-solution.card-2::before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -15px;
    left: -20px;
    width: 45px;
    height: 36px;
    transform: rotate(45deg);
    background-color: #101010;
    border: 1px solid #0ab3d9;
}


.card-solution.card-1::after,
.card-solution.card-2::after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -15px;
    right: -20px;
    width: 45px;
    height: 36px;
    transform: rotate(313deg);
    background-color: #101010;
    border: 1px solid #0ab3d9;
}

.card-solution.card-3::before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -15px;
    left: -20px;
    width: 45px;
    height: 36px;
    transform: rotate(45deg);
    background-color: #101010;
    border: 1px solid #0ab3d9;
}

.card-solution.card-3::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: -15px;
    right: -20px;
    width: 45px;
    height: 36px;
    transform: rotate(45deg);
    background-color: #101010;
    border: 1px solid #0ab3d9;
}

.card-solution.card-4::after,
.card-solution.card-5::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: -15px;
    right: -20px;
    width: 45px;
    height: 36px;
    transform: rotate(45deg);
    background-color: #101010;
    border: 1px solid #0ab3d9;
}

.card-solution.card-4::before,
.card-solution.card-5::before,
.card-solution.card-6::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: -15px;
    left: -20px;
    width: 45px;
    height: 36px;
    transform: rotate(315deg);
    background-color: #101010;
    border: 1px solid #0ab3d9;
}

#solutions .display-button {
    margin-top: 65px;
}

#solutions .display-button button img {
    animation: down 2s infinite alternate;
}

@keyframes down {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(20px);
    }
}

#benefits {
    margin: 150px 0;
    background-image: url(./assets/background-benefits.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#benefits .benefits-content {
    margin-top: 100px;
}

#benefits .display-button {
    margin-top: 65px;
    display: flex;
    justify-content: center;
}

#benefits .display-button button {
    padding: 15px 51px;
    border-radius: 100px;
    background: var(--titulo_2, linear-gradient(90deg, #52FFA1 14.15%, #0AD9D2 96.27%));
    color: #141414;
    font-size: 17.36px;
    font-weight: 600;
}

.benefits-display {
    margin-bottom: 26px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.benefits-display .card-benefits {
    width: 320px;
    border-radius: 15.523px;
    border: 1px solid #52FFA1;
    background: #141414;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.37);
}

.card-benefits .card-top {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-benefits .card-top span {
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.38px;
}

.card-benefits .card-body {
    padding: 0 30px 30px;
}

.card-benefits .card-body h3 {
    color: #FFF;
    font-size: 18.628px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.559px;
}

.card-benefits.card-1 .card-body h3,
.card-benefits.card-3 .card-body h3,
.card-benefits.card-4 .card-body h3,
.card-benefits.card-6 .card-body h3 {
    margin-bottom: 28px;
}

.card-benefits.card-2 .card-body h3 {
    margin-bottom: 10px;
}

.card-benefits.card-2 .card-top img {
    margin-bottom: -15px;
}

.card-benefits .card-body p {
    color: var(--branco, #FFF);
    font-size: 14.488px;
    font-weight: 500;
    line-height: 159.9%;
    /* 23.167px */
    letter-spacing: 0.435px;
}

.card-benefits.card-1,
.card-benefits.card-3 {
    height: 380px;
}

.card-benefits.card-2,
.card-benefits.card-5 {
    height: 327px;
}

.card-benefits.card-4 {
    height: 373px;
}

.card-benefits.card-5 {
    margin-top: -55px;
    height: 327px;
}

.card-benefits.card-6 {
    height: 358px;
}

.card-benefits.card-7 {
    margin-top: -100px;
    height: 314px;
}

.benefits-content .display-button {
    margin-top: 65px;
    display: flex;
    justify-content: center;
}

#resources .title h2 {
    width: 100%;
}

#resources .resources-display {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}

.resources-display .resources-image {
    width: 70%;
}

#resources .resources-content {
    width: 30%;
    margin-right: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
}

.resources-content .resources-programming {
    padding: 45px;
    border-radius: 15.523px;
    border: 1px solid rgba(41, 41, 41, 0.04);
    background: #141414;
    box-shadow: 3px -2px 6px 0px rgb(55 188 184 / 42%);
}

.resources-content .resources-programming h3 {
    margin-bottom: 43px;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.54px;
}

.resources-programming .programming-items-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.resources-programming .programming-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resources-programming .programming-item span {
    max-width: 105px;
    text-align: center;
    font-size: 12.961px;
    font-weight: 500;
    letter-spacing: 0.389px;
    color: #fff;
}

.resources-content .resources-method h3 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
}

.resources-content .resources-method ul {
    padding: 0;
}

.resources-method ul li {
    margin: 0 0 10px 0;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.45px;
}

#resources .resources-content button {
    margin-top: 68px;
    font-size: 17.359px;
    font-weight: 600;
    letter-spacing: 0.521px;
}

.resources-content button img {
    margin-right: 10px;
}


@media (max-width: 1500px) {
    .resources-content .resources-programming {
        padding: 45px 15px;
    }
}

.background-before-contact {
    margin: 150px 0;
    padding: 23px 0;
    background: var(--titulo_2, linear-gradient(90deg, #52FFA1 14.15%, #0AD9D2 96.27%));
}

.background-before-contact .before-contact-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.before-contact-content h3 {
    color: #141414;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.05px;
}

.before-contact-content img {
    margin-left: 20px;
}

#contact-us {
    width: 100%;
    background-image: url(./assets/background-contact.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

#contact-us .contact-content {
    width: 80%;
    margin: 100px auto 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #141414;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.contact-content .contact-image {
    width: 50%;
}

.contact-content .contact-image img {

    border-radius: 15px 40px 40px 15px;
}



.contact-content .contact-form .logotipo {
    margin: 0 auto;
}

.contact-content .contact-form h3 {
    margin: 50px 0 37px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.66px;
}

.contact-content .contact-form .form-group {
    padding: 5px 0px;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

.contact-form .form-group::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: var(--Degrade-2, linear-gradient(110deg, #E50071 21.12%, #7404BF 74.66%));
    border-radius: 5px;
}

.contact-form .form-group img {
    margin: 0 15px 5px 15px;
}

.contact-form .form-group input {
    width: 80%;
    color: #fff;
    background: transparent;
    border: none;
}

.contact-form .form-group input::placeholder {
    color: #C6C6C6;
    font-size: 15px;
    letter-spacing: 0.45px;
}

.contact-form .form-group input:focus-visible {
    outline: none;
}

.contact-content .contact-form button {
    margin-top: 40px;
    padding: 9px;
    width: 100%;
    border-radius: 40px;
    border-radius: 30px;
    background: var(--Degrade-2, linear-gradient(110deg, #E50071 21.12%, #7404BF 74.66%));
    color: #141414;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.45px;
    border-color: transparent;
}



footer p {
    margin-top: 21px;
    color: #E9E9E9;
    font-family: 'Barlow';
    font-size: 16.007px;
    font-weight: 500;
}

footer h4 {
    margin-bottom: 18px;
    font-family: 'Barlow';
    font-size: 22.41px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--Degrade-2, linear-gradient(110deg, #E50071 21.12%, #7404BF 74.66%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

footer h5 {
    margin-bottom: 7px;
    color: #E9E9E9;
    font-family: 'Barlow';
    font-size: 17.608px;
    font-weight: 700;
}

footer ul li {
    margin-bottom: 13px;
    color: #E9E9E9;
    font-family: 'Barlow';
    font-weight: 500;
}

footer ul li a {
    color: #E9E9E9;
    font-family: 'Barlow';
    font-weight: 500;
    text-decoration: none;
}

footer .display-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-footer {
    color: var(--Branco, #E9E9E9);
    font-family: 'Barlow';
    font-size: 16.007px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.medias-socias {
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

.last-phrase {
    margin-top: 116px;
    border-top: 1px solid #E9E9E9;
    display: flex;
    justify-content: center;
}

.last-phrase span {
    text-align: center;
    color: var(--Branco, #E9E9E9);
    font-family: 'Barlow';
    font-size: 16.007px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px 0 36px;
}

@media (max-width: 1200px) {
    .card-benefits.card-7 {
        margin-top: 0px;
    }

    .our-clients-content {
        width: 100%;
    }

    #resources .resources-display {
        flex-direction: column;
    }

    .resources-display .resources-image,
    #resources .resources-content {
        width: 100%;
    }

    #resources .resources-content {
        align-items: center;
    }
}

@media (max-width:992px) {
    .hidden-mobile {
        display: none
    }

    .hidden-desktop {
        display: block;
    }

    .logo img {
        width: 50px;
    }

    .btn-contact {
        padding: 8px 16px;
        font-size: 10px;
        width: 120px;
    }

    .navbar-nav {
        padding: 15px 0;
        background-color: #101010;
        align-items: flex-start;
        gap: 5px;
    }

    .headline-content span {
        width: 90%;
    }

    section#our-story {
        margin-top: 100px;
    }

    .img-timeline-mobile {
        margin: 30px auto;
    }

    .resources-display .button-mobile {
        display: none;
    }

    .performance-item .item-text {
        padding: 0 15px 15px;
    }

    .performance-item .item-image,
    .performance-item .item-text {
        height: auto;
    }

    #contact-us .contact-content {
        width: 100%;
        flex-direction: column;
    }

    #contact-us .contact-content .contact-form,
    #contact-us .contact-content .contact-image {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .hidden-desktop {
        display: block;
    }

    .modal-backdrop.show {
        opacity: 0;
    }

    .hidden-mobile {
        display: none
    }

    header {
        top: 20px;
    }

    .navbar .logo {
        width: 50%;
    }

    section#headline .headline-content {
        margin-top: 115px;
        height: auto;
    }

    .headline-content h1 {
        margin-bottom: 15px;
        font-size: 28px;
        line-height: 37px;
        text-align: center;
    }

    .headline-content span {
        font-size: 12px;
    }

    .headline-content button {
        margin-top: 30px;
        width: 248px;
        height: 47px;
        font-size: 13px;
    }

    section#numbers .numbers-content {
        margin: 70px 0;
        background: none;
        justify-content: flex-start;
        gap: 20px;
    }

    .numbers-content .numbers-item {
        padding: 15px;
        width: 100%;
        justify-content: start;
        border-radius: 13.941px;
        border: 0.697px solid #394747;
        background: linear-gradient(104deg, rgba(1, 66, 64, 0.15) 11.92%, rgba(10, 217, 210, 0.00) 77.41%);
        box-shadow: 0px 2.78812px 16.72874px -0.69703px rgba(0, 0, 0, 0.20);
        backdrop-filter: blur(10.455465316772461px);
    }

    .numbers-content .numbers-item .item-text-2 {
        display: flex;
        align-items: center;
    }

    .numbers-content .numbers-item .item-text-2 p {
        width: 120px;
    }

    .numbers-content .numbers-item span {
        font-size: 35px;
    }

    section#performance {
        margin: 0px 0 80px;
    }

    .title span {
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.4px;
    }

    .title h2 {
        width: 100%;
        font-size: 24px;
        letter-spacing: 0.72px;
    }

    .title p {
        width: 100%;
        font-size: 12px;
        font-weight: 500;
        line-height: 172.4%;
        letter-spacing: 0.66px;
    }

    #performance .performance-content {
        flex-direction: column;
    }

    .performance-content .performance-item {
        width: 100%;
        min-height: auto;
        border-radius: 9.129px;
    }

    .performance-item.first-item {
        border: 1px solid #0ad9d2;
        background: #141414;
        box-shadow: 0px 2.43449px 2.43449px 0px rgba(0, 0, 0, 0.25);
    }

    .performance-item.first-item .item-image img,
    .performance-item.second-item .item-image img {
        border-radius: 9.129px;
    }

    .performance-item.second-item {
        margin-top: 50px;
    }

    .performance-item .item-text h3 {
        margin-bottom: 7px;
        font-size: 15.166px;
    }

    .performance-item .item-text p {
        margin-bottom: 12px;
        width: 100%;
        min-height: 130px;
        font-size: 11px;
    }

    .highlight-line-content {
        flex-direction: column;
    }

    .highlight-line-content .flex-container span {
        max-width: 285px;
        font-size: 20px;
        margin-bottom: 16px;
    }

    .highlight-line-content button {
        width: 197px;
        padding: 14px;
        border-radius: 93.333px;
        border: 0.933px solid #2F2F2F;
    }

    section#our-story,
    section#solutions,
    section#benefits {
        margin: 70px 0;
    }

    section#our-story .title {
        margin-left: 0px;
        width: 100%;
        align-items: center;
    }

    #our-story .title h2,
    #our-story .title p {
        text-align: center;
    }

    #solutions .solutions-content,
    #benefits .benefits-content {
        display: flex;
        margin-top: 30px;
        flex-direction: row;
        overflow-x: scroll;
    }

    .solutions-content .solutions-display,
    .benefits-content .benefits-display {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 15px;
    }

    .solutions-content .solutions-display .card-solution {
        width: 349.724px;
        height: 262.674px;
    }

    #solutions .display-button {
        display: none;
    }

    .card-benefits .card-top {
        align-items: center;
    }

    .card-top img {
        width: 89px
    }

    .card-benefits .card-top span {
        font-size: 37.772px;
        letter-spacing: 1.133px;
    }

    .card-benefits.card-1 .card-body h3,
    .card-benefits.card-3 .card-body h3,
    .card-benefits.card-4 .card-body h3,
    .card-benefits.card-6 .card-body h3 {
        margin-bottom: 12px;
    }

    .card-benefits .card-body h3 {
        font-size: 15px;
    }

    .card-benefits .card-body p {
        font-size: 11.897px;
        font-style: normal;
        font-weight: 500;
        line-height: 190%;
        letter-spacing: 0.357px;
    }

    .card-benefits.card-1,
    .card-benefits.card-2,
    .card-benefits.card-3,
    .card-benefits.card-4,
    .card-benefits.card-6,
    .card-benefits.card-7 {
        height: 253.732px;
    }

    .card-benefits.card-4,
    .card-benefits.card-7 {
        margin-left: 15px;
    }

    .card-benefits.card-5 {
        margin-top: 0px;
        height: 253.732px;
    }

    #benefits .display-button button {
        padding: 12px 40px;
    }

    #resources {
        margin-top: 130px;
    }

    #resources .resources-display {
        margin-top: 30px;
        flex-direction: column-reverse;
    }

    .resources-display .button-mobile {
        margin: 0 auto;
        font-size: 14.309px;
        font-weight: 600;
        letter-spacing: 0.787px;
    }

    .resources-content .resources-programming {
        padding: 30px;
    }

    .background-before-contact {
        margin: 70px 0;
        padding: 23px 0;
        background: var(--titulo_2, linear-gradient(90deg, #52FFA1 14.15%, #0AD9D2 96.27%));
    }

    .background-before-contact .before-contact-content {
        flex-direction: column-reverse;
    }

    .before-contact-content img {
        width: 50px;
        margin-left: 0px;
    }

    .before-contact-content h3 {
        margin-top: 10px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.6px;
    }

    #contact-us .contact-content {
        margin: 70px 0;
    }

    .contact-content .contact-image {
        display: none;
    }

    #contact-us .contact-content .contact-form {
        border-radius: 10.781px;
        background: #141414;
        box-shadow: 0px 2.875px 2.875px 0px rgba(0, 0, 0, 0.25);
    }

    .contact-form .form-group {
        display: flex;
    }

    .contact-content .contact-form button {
        margin-top: 27px;
    }

    footer .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer p {
        max-width: 80%;
        text-align: center;
    }



    footer .display-item {
        align-items: flex-start;
    }

    .last-phrase {
        margin-top: 20px;
    }

    .last-phrase span {
        font-size: 10px;
    }
}

.save-date {
    color: #D3D3D3;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.november {
    margin-bottom: 7px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.line {
    width: 219.082px;
    height: 0.6px;
    background: #868686;
    filter: blur(0.5px);
}

.years {
    margin-top: 7px;
    width: 232px;
    color: #D3D3D3;
    font-family: Montserrat;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.modal-couple {
    background-image: url(./assets/img/couple-modal.png);
    width: 100%;
    height: 262px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
}

.contact-form form {
    padding: 25px;
    margin-top: -117px;
}

.btn:hover {
    border-color: transparent;
}

@media (max-width: 1400px) {}